
<nav class="button">
  <div class="logo">
  <a class="navbar-brand" href="#">
    <img src="../assets/img/logo.png" width="50" height="50" alt="">
  </a>
</div>
  <div class="links">
    <ul class="buttons">
      <li class="nav-item active">
        <a class="nav-link" routerLink="Inicio" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"routerLink="Pelis" routerLinkActive="active">Peliculas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="Series" routerLinkActive="active">Series</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"routerLink="Ingresar" routerLinkActive="active">Ingresar &#8594; </a>
      </li>
    </ul>
  </div>
</nav>
   