.header{
    height: 30vh;
    display: flex;
    }
    .container-h{

    flex-direction: column;
    height:120px;
    width:588px;
    margin: 160px 0px 1472px 120px;
    }
    .text1{
        font-size: 64px;
    }
    .text2{
        font-size: 16px;
        line-height: 24px;
        color: #8E95A9;
    }
    .seekers{
        display: flex;
        height: 55vh;
        flex-direction: column;
        align-items: start;
    }
    .container-c1{
    display: flex;
    margin: 100px 0 0 120px;
    
    
    }
    .search{
        display: flex;
        align-items: center;
        padding: 12px 16px;
        width: 344px;
        Height: 64px;
        margin-right: 176px;
        left: calc(50% - 344px/2);
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid #323B54;
        box-sizing: border-box;
        border-radius: 12px;
        color: white;
    }
    .selector{
        height:56px;
        width:386px;
        margin: 85px 120px;
        display: flex;
        justify-content: space-between;
        position: relative;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(80px);
        border-radius: 12px;
        padding: 8px;
    }
    
    .selector-link1{
        height:40px;
        width:115px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        background-color: #7B6EF6;
        border-radius: 8px;
        border: none;
    }
    .selector-link2{
        height:40px;
        width:140px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        text-decoration: none;
        color: white;
        border: none;
       
    }
    .selector-link3{
        height:40px;
        width:115px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        text-decoration: none;
        color: white;
        border: none;   
    }
