<section name="header" class="header">
    <div class="container-h">
      <div class="text1">PelisUP!</div>
      <div class="text2">Plataforma para ver peliculas y series😉</div>
    </div>
        </section>
      <section class="seekers">
      <div class="container-c1">
      <input  class="search" type="seeker" placeholder="Buscar peliculas y series">
      </div>
        <div class="selector">
        
        <button  class ="selector-link1" href="#">Todos</button>
        <button  class ="selector-link2" href="#">Peliculas</button>
        <button  class ="selector-link3" href="#">Series</button>
        </div>
      </section>
      <app-card></app-card>