.gallery{
    height: 130vh;
    display: flex;
justify-content:center;


}
.container-movies{
display:grid;
position: relative;
grid-template-columns: 282px 282px 282px 282px;
grid-template-rows: 480px 480px 480px 480px;
grid-gap: 24px;
grid-auto-rows: 1fr;
grid-auto-columns: 1fr;


}
.box{
display: flex;
background: rgba(32, 40, 62, 0.8);
backdrop-filter: blur(80px);
padding: 8px;
border-radius: 8px;

}
.text{
position: absolute;
margin: 432px 16px 24px;
}
.rating{
margin: 10px 8px;
display: flex;
position: absolute;
padding: 8px;
background: rgba(0, 0, 0, 0.65);
backdrop-filter: blur(8px);
border-radius: 8px;
}
.numrating{
Width: 13,33px;
Height: 13,23px;
Top: 1,39px;
Left: 1,33px;
    color: #FFAD49;
}
