<section class="gallery">
    <div class="container-movies">
      <div class="box"><img src="../assets/img/portadas/img1.png" width="266" height="400" alt="">
        <div class="text">Black widow</div><div class="rating"> <div class="numrating">&#9734; 6.8</div></div></div>
      <div class="box"><img src="../assets/img/portadas/img2.png" width="266" height="400" alt="">
        <div class="text">Shang Chi</div><div class="rating"> <div class="numrating">&#9734; 6.8</div></div></div>
      <div class="box"><img src="../assets/img/portadas/img3.png" width="266" height="400" alt="">
        <div class="text">Loki</div><div class="rating"> <div class="numrating">&#9734; 6.8</div></div></div>
      <div class="box"><img src="../assets/img/portadas/img4.png" width="266" height="400" alt="">
        <div class="text">How I Met Your Mother</div><div class="rating"> <div class="numrating">&#9734; 6.8</div></div></div>
      <div class="box"><img src="../assets/img/portadas/img5.png" width="266" height="400" alt="">
        <div class="text">Money Heist</div><div class="rating"> <div class="numrating">&#9734; 6.8</div></div></div>
      <div class="box"><img src="../assets/img/portadas/img6.png" width="266" height="400" alt="">
        <div class="text">Friends</div><div class="rating"> <div class="numrating">&#9734; 6.8</div></div></div>
      <div class="box"><img src="../assets/img/portadas/img7.png" width="266" height="400" alt="">
        <div class="text">The Big Bang Theory</div><div class="rating"> <div class="numrating">&#9734; 6.8</div></div></div>
      <div class="box"><img src="../assets/img/portadas/img8.png" width="266" height="400" alt="">
        <div class="text">Two And a Half Men</div><div class="rating"> <div class="numrating">&#9734; 6.8</div></div></div>
    </div>
    </section>
