/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
}

body{
    height: 400vh;
    min-height: 800px;
    background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55, #141e30);
    background: linear-gradient(t
    o right,
    #243b55, 
    #141e30);
    color: #ebeef5;
    font-family: Poppins;
    }